@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Muli:700,900|Open+Sans:300,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
    transition: all 0.2s;
}


//////////////////////////////////////////// first page  ////////////////////////////////////////////

@mixin latoReg{
    font-family: Lato;
    font-weight: 400;
}
$colorOrange: #ffbb42;
.header__menuLine{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;  
    justify-content: space-between;
    margin: 27px 265px 27px 265px;
}
.header__nav{
    margin-top: 12px;
}
.header__logo{
}
ul{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.header__nav li{
    list-style: none;
    font-size: 15px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: #868686;
    @include latoReg;
    padding: 10px 20px;
    &:hover{
        color: #fff;
        background-color: $colorOrange;
        border-radius: 3px;
    }
}
h1{
    font-size: 40px;
    text-transform: uppercase;
    font-family: Muli;
    font-weight: 900;
    padding-bottom: 10px;
}
h2{
    text-transform: uppercase;
    font-family: Muli;
    font-weight: 900; 
}
h3{
    text-transform: uppercase;
    font-family: Muli;
    font-weight: 700; 
}
.header__content{
    background-color: #709dca;
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    text-align: center;
}
.title-h1-text{
    margin-bottom: 30px; 
}
input{
    height: 46px;
    border-radius: 3px;
    border: none; 
    &:focus,&:hover,&:active{
        outline: 0;
        outline-offset: 0;
        border: none;
    }
}
.fa-inp{
    color: #000;
    position: relative;
    left: 27px;
    right: 0;
    top: 0;
    bottom: 0;
}
.header__input-write{
    width: 280px;
    padding-left: 30px;
    margin-bottom: 350px;
}
.header__input-button{
    text-transform: uppercase;
    width: 210px;
    margin-left: 18px;
    &:hover{
        color: #fff;
        background-color: $colorOrange;
    }
}
header{
    margin-bottom: 200px;
}

//////////////////////////////////////////// second page  ////////////////////////////////////////////

.services{
    color: #394b50;
    margin: 0 265px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title-h2{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 110px;
}
.services__item{
    width: 510px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    &:nth-child(2n){
        margin-right: 150px;
    }
    &:last-child{
        margin-bottom: 160px;
    }
}

.services__item__text{
    font-size: 14px;
    margin-bottom: 80px;
    margin-top: 20px;
}
.services__fa{
    margin-right: 30px;
    color: #709dca;
    &:hover{
        color: $colorOrange;
    }
}

//////////////////////////////////////////// third page  ////////////////////////////////////////////

.about{
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 623px;
    margin-bottom: 140px;
}
.about__content{
    width: 100%;
    background-color: $colorOrange;
    padding-left: 80px;
    padding-top: 160px;
}
.about__input-button{
    text-transform: uppercase;
    width: 145px;
    background-color: $colorOrange;
    color: #fff;
    border: 1px solid #e7ad48;
    margin-top: 30px;
    &:hover{
        color: $colorOrange;
        background-color: #fff;
    }
}
.about__text{
    margin-right: 265px;
    margin-top: 30px;
}

//////////////////////////////////////////// fourth page  ////////////////////////////////////////////

.cards{
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    margin: 0 540px;
}
.card{
    background-color: #000;
    width: 280px;
    height: 440px;
}
.price__title{
    font-size: 30px;
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 300;
}
.cost{
    color: $colorOrange;
    font-size: 55px;
}
.price__dollar{
    font-size: 40px;
    color: $colorOrange;
}
.price__moth{
    text-transform: uppercase;
}

































