@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900|Open+Sans:300,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    color: #7b7b7b;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

input{
    outline: none;
}


//////// HEADER ///////


.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.menu_line{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin: 20px 0;    
}

.menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.menu__item{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    text-transform: uppercase
}

.header-content{
    color: #ffffff;
    background-color: #709dca;
}

.intro_inner{
    text-align: center;
    margin: 0; 
    padding-top: 100px;
}

.title{
    text-transform: uppercase;        
}

.header__input{
    text-align: center;
}






































